.nav-icon {
    display: flex;
    align-items: center;
}

.nav-icon i {
    font-size: 1.5rem;
    cursor: pointer;
    color: var(--secondary-color);
    transition: .2s ease-out;
    text-decoration: none;
}

.nav-icon i:visited {
    color: var(--secondary-color);
    transition: .2s ease-out;
}

.nav-icon:hover i, .nav-icon:hover .nav-icon-stat {
    color: var(--highlight-color);
    transition: .2s ease-out;
}

.nav-icon .nav-icon-stat {
    padding-left: 1rem;
    font-size: .7rem;
}

.nav-icon .selected {
    color: var(--highlight-color);
    transition: .2s ease-out;
}