#infinite-panel {
    display: grid;
    gap: .5rem;
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
    grid-auto-rows: span 2 / auto;
    margin: 1rem;
}

@media screen and (min-width: 300px) {
    .card-wide {
        grid-column: span 2/ auto;
    }
}

@media screen and (min-width: 900px) {
    .story-card {
        grid-column: span 2/ auto;
    }

    .card-wide {
        grid-column: span 3/ auto;
    }
}