:root {
  --primary-color-bright: #e8e9f3;
  --primary-color-light: #cecece;
  --primary-color-dark: #a6a6a8;
  --secondary-color: #272727;
  --highlight-color: #b1e5f2;

  --primary-color-bright-frosted: rgba(232,233,243, .83);
}

body {
  margin: 0;
  background-color: var(--primary-color-bright);
  font-family: 'Poppins', sans-serif;
  color: var(--secondary-color);
  
}

.scroll-freeze {
  overflow: hidden;
}

body::-webkit-scrollbar {
  width: .8rem;
}
 
body::-webkit-scrollbar-track {
  background-color: var(--primary-color-dark);
}

body::-webkit-scrollbar-thumb {
  background-color: var(--primary-color-light);
}