#story-card {
    position: relative;
    min-height: 15rem;
    border-radius: 1rem;
    margin: .5rem;
    box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.1);
    background-color: var(--primary-color-bright);
    overflow: hidden;
    cursor: pointer;
}

#inner-story-card {
    padding-bottom: 3rem;
    min-height: 15rem;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    align-items: center;
    -webkit-mask-image: linear-gradient(to top, transparent 5%, black 20%);
}

#story-card #story-card-cover-image {
    width: 100%;
    object-fit: contain;
    -webkit-mask-image: linear-gradient(to top, transparent 0%, black 100%);
}

#story-card-text-panel {
    width: 60%;
    position: absolute;
    text-align: center;
    bottom: 5%;
}

#story-card-title {
    font-size: 0.7rem;
    letter-spacing: .1rem;
    text-align: justify;
}

#story-card-teaser {
    font-size: .6rem;
    font-weight: 600;
    text-align: justify;
    overflow-wrap: break-word;
}